@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif; 
}


.header-background{
    background-color: #264653;
}

.button-link{
    background-color: #E76F51;
}


.gray-scale{
    filter: grayscale(100%);
}

.gray-scale:hover{
    filter: grayscale(0);
}

.feature-img{
    width: 288px;
    height: 243px;
}
span, small, i{
    color: #E76F51;
}

